.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 10px;
    width: 25rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #0275d8;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .submit-button {
    margin-top: 2rem;
    width: 100%;
  }
  